
body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #0be69d;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    line-height: 1.6;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  nav ul li a:hover {
    background-color: #27da27;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 50px;
    background-color: #27da27;
    padding: 20px;
    border-radius: 15px;
    color: white;

  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #0be69d;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  a {
    color: #1100ff;
    text-decoration: none;
  }